<div class="login-container">
    <canvas id="starfield"></canvas>
    <div class="login-card">
        <div class="logo"></div>
        <h1>Connexion</h1>
        <form (ngSubmit)="onSubmit()">
            <label for="email">Adresse e-mail</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="exemple@email.com">
            
            <div class="password-container">
                <label for="password">Mot de passe</label>
                <div class="password-input-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" 
                           id="password" 
                           name="password" 
                           [(ngModel)]="password" 
                           required>
                    <i class="fas" 
                       [class.fa-eye]="!showPassword" 
                       [class.fa-eye-slash]="showPassword"
                       (click)="togglePasswordVisibility()"
                       style="cursor: pointer">
                    </i>
                </div>
            </div>
            
            <div class="remember-me-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" 
                           id="rememberMe" 
                           name="rememberMe"
                           [(ngModel)]="rememberMe">
                    <label for="rememberMe">Se souvenir de moi</label>
                </div>
            </div>
            
            <button type="submit">Se connecter</button>
        </form>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="links">
            <p><a routerLink="/forgot-password">Mot de passe oublié ?</a></p>
            <p>Pas encore de compte ? <a routerLink="/signup">S'inscrire</a></p>
        </div>
    </div>
</div>
