<div class="starry-background">
  <div class="stars">
    <!-- Étoiles existantes -->
  </div>
</div>

<div id="map" class="map-container"></div>

<!-- Input 

<div class="input-container">
    <div class="input-wrapper">
        <span class="search-icon">🔍</span>
        <input 
            type="text" 
            placeholder="Where would you go?" 
            class="input-field"
            [(ngModel)]="searchInput"
            (keyup.enter)="onSearch(searchInput)" 
        />
    </div>
    <div class="button-group">
        <button class="option-button">Transport</button>
        <button class="option-button">Delivery</button>
    </div>
</div>
-->
<!-- Boutons de contrôle -->
<div style="position: absolute; top: 20px; left: 20px; z-index: 999;">
    <button class="location-button" (click)="getCurrentLocation()">
        <i class="fas fa-location-arrow"></i>
    </button>
    <button (click)="resetMap()">Reset Map</button>
</div>
    
    
